@import "./styles/components/header";
@import "./styles/components/footer";
@import "./styles/defaults//breakpoints";

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;

    margin: 0;
    background: linear-gradient(-45deg, #ffffff, #c0c9d5, #ffffff, #c0c9d5);
    background-size: 400% 400%;
    background-attachment: fixed;
    height: auto;
    animation: color 7s ease infinite;

    @keyframes color{
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 100%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
}

a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: line-through;
}

// Button styling
button {
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
    margin-bottom: 48px;
    background-color: white;
    border-radius: 16px;
    border-style: dashed;
    transition: ease-in-out;
    transition-duration: 0.4s;

}
// Button styling when hover
button:hover {
    cursor: pointer;
    transform: translateX(12px);
    transition-duration: 0.4s;
}

i {
    transition: ease-in-out;
    transition-duration: 0.4s;
}

i:hover {
        transform: translateY(-8px);
        transition-duration: 0.4s;
    }