

body {
    margin: 0;
    background: linear-gradient(-45deg, #ffffff, #c0c9d5, #ffffff, #c0c9d5);
    background-size: 400% 400%;
    background-attachment: fixed;
    height: auto;
    animation: color 7s ease infinite;

    @keyframes color{
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 100%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
}

header {
    text-align: center;
    padding: 16px;
    font-family: 'Poppins', sans-serif;

    .home {
        font-size: 50px;
        margin-bottom: 48px;
        
        .home-logo {
            text-decoration: none;
        }
    
        #logo {
            font-weight: bold;
        }
        
        #logo-appear {
            position: relative;
            color: transparent;
        }

        #logo-appear::before {
            content: "YROS";
            position: absolute;
            color: black;
            width: 0%;
            overflow: hidden;
            transition: 1s ease-in-out;
        }
        
        #logo-appear:hover::before {
            width: 100%;
        }
    }

    #nav-items {
        display: flex;
        justify-content: space-around;
        font-size: 16px;
        
        
    }
    

}

a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
    text-underline-offset: 0.7rem;
}