header {
  text-align: center;
  padding: 16px;
  font-family: "Poppins", sans-serif;
}
header .home {
  font-size: 44px;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  header .home {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  header .home #logo-appear {
    display: none;
  }
}
header .home .home-logo {
  text-decoration: none;
}
header .home #logo-appear {
  position: relative;
  color: transparent;
}
header .home #logo-appear::before {
  content: "YROS";
  position: absolute;
  color: black;
  width: 0%;
  overflow: hidden;
  transition: 1s ease-in-out;
}
header .home #logo-appear:hover::before {
  width: 100%;
}
header #nav-items {
  display: flex;
  justify-content: space-around;
  font-size: 16px;
  font-weight: 300;
}
header #nav-items #about {
  transition: ease-in-out;
  transition-duration: 0.4s;
}
header #nav-items #xp {
  transition: ease-in-out;
  transition-duration: 0.4s;
}
header #nav-items #blog {
  transition: ease-in-out;
  transition-duration: 0.4s;
}
header #nav-items #contact {
  transition: ease-in-out;
  transition-duration: 0.4s;
}
header #nav-items #about:hover {
  opacity: 1;
  transform: translateY(8px);
  transition-duration: 0.4s;
}
header #nav-items #xp:hover {
  opacity: 1;
  transform: translateY(8px);
  transition-duration: 0.4s;
}
header #nav-items #blog:hover {
  opacity: 1;
  transform: translateY(8px);
  transition-duration: 0.4s;
}
header #nav-items #contact:hover {
  opacity: 1;
  transform: translateY(8px);
  transition-duration: 0.4s;
}

@media screen and (min-width: 768px) {
  header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
  }
  header .home .home-logo {
    margin-bottom: 0;
  }
  header #nav-items {
    width: 50%;
    margin-bottom: 24px;
  }
}
footer {
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 16px;
}
footer .social-media-items {
  display: flex;
  justify-content: space-around;
  margin-bottom: 36px;
}
footer .social-media-items a i {
  font-size: 20px;
}
footer .copyright {
  font-weight: 300;
  font-size: 12px;
  opacity: 0.8;
}

@media screen and (min-width: 768px) {
  footer .social-media-items {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(-45deg, #ffffff, #c0c9d5, #ffffff, #c0c9d5);
  background-size: 400% 400%;
  background-attachment: fixed;
  height: auto;
  animation: color 7s ease infinite;
}
@keyframes color {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: line-through;
}

button {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: 48px;
  background-color: transparent;
  border-radius: 16px;
  border-style: dashed;
  opacity: 0.5;
  transition: ease-in-out;
  transition-duration: 0.4s;
}

button:hover {
  opacity: 1;
  cursor: pointer;
  transform: translateX(12px);
  transition-duration: 0.4s;
}

i {
  transition: ease-in-out;
  transition-duration: 0.4s;
}

i:hover {
  transform: translateY(-8px);
  transition-duration: 0.4s;
}

main {
  font-family: "Poppins", sans-serif;
  margin-left: 4vh;
  margin-right: 4vh;
  -moz-column-gap: 100px;
       column-gap: 100px;
}
@media screen and (max-width: 768px) {
  main {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
main .hero-text {
  font-size: 4rem;
  font-weight: 500;
}
main .hero-text .hero-text-static {
  margin-top: 0;
}
main .hero-text .hero-text-type {
  border-right: 4px solid;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(6), cursor 0.4s step-end infinite alternate;
}
@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}
main .container-blog {
  display: inline-block;
  margin-bottom: 48px;
}
main .container-blog a {
  text-decoration: none;
}
main .container-blog .blog {
  display: inline-block;
  height: 300px;
  width: 300px;
  border-radius: 12px;
  padding: 16px 16px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 16px 16px;
  background-position: center;
  background-size: cover;
  transform: 0.5;
  transition: ease-in-out;
  transition-duration: 0.4s;
  opacity: 1;
}
main .container-blog .blog1 {
  background-image: url(../../images/blog1.JPG);
}
main .container-blog .blog2 {
  background-image: url(../../images/blog2.JPG);
}
main .container-blog .blog3 {
  background-image: url(../../images/blog3.JPG);
}
main .container-blog .blog4 {
  background-image: url(../../images/blog4.JPG);
}
main .container-blog .blog5 {
  background-image: url(../../images/blog5.JPG);
}
main .container-blog .blog6 {
  background-image: url(../../images/blog6.JPG);
}
main .container-blog h5 {
  text-align: start;
  color: white;
  font-size: 20px;
  font-weight: 300;
  text-shadow: 0 0 8px black;
  text-decoration: underline;
  text-underline-offset: 4px;
}
main .container-blog h6 {
  text-align: start;
  color: white;
  text-shadow: 0 0 8px black;
}
main .container-blog .blog:hover {
  transform: translateY(-10px);
  transition-duration: 0.4s;
  box-shadow: 4px 4px 16px grey;
  opacity: 0.8;
}

.hero-text {
  margin-top: 16px;
  margin-bottom: 16px;
}

.brief-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.brief-info h2 {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
}
.brief-info h3 {
  font-weight: 300;
  font-size: 0.8em;
  font-style: italic;
  margin-top: 0;
}
.brief-info h4 {
  font-weight: 300;
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
  }
}
.home-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.btn-cv {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: 48px;
  background-color: transparent;
  border-radius: 16px;
  border-style: dashed;
  opacity: 0.5;
  transition: ease-in-out;
  transition-duration: 0.4s;
}

.btn-cv:hover {
  opacity: 1;
  cursor: pointer;
  transform: translateX(12px);
  transition-duration: 0.4s;
}/*# sourceMappingURL=blog.css.map */