@import "../../style";

main {
    font-family: 'Poppins', sans-serif;
    margin-left: 8vh;
    margin-right: 8vh;
    margin-top: 36px;
    text-align: center;

    // Heading element styling to have typing animation the the end of text.
    .heading {
        font-size: 58px;
        font-weight: bold;
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        
        .heading-animation {
            border-right: 4px solid;
            animation: typing 2s, cursor .4s step-end infinite alternate;
        }

        @keyframes cursor {
            50% {border-color: transparent}
        }
    }

    // Styling for heading, subheading, caption and body texts.
    .body-text {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 18px;
    
        h2 {
            font-size: 1.5em;
            font-weight: 500;
            margin-top: 0;
            margin-bottom: 0;
        }
        
        h3 {
            font-style: italic;
            font-size: .8em;
            font-weight: 300;
            margin-top: 0;
        }
        
        h4 {
            font-weight: 300;
            margin-top: 0;
        }
    }

    // Blog container styling to have image as a thumbnail and linked to a separated blog post page.
    .container-blog {
        display: inline-block;
        margin-bottom: 48px;

        a {
            text-decoration: none;
        }
        
        .blog {
            display: inline-block;
            height: 300px;
            width: 300px;
            border-radius: 12px;
            padding: 16px 16px;
            box-sizing: border-box;
            cursor: pointer;
            margin: 16px 16px;
            background-position: center;
            background-size: cover;
            transform: 0.5;
            transition: ease-in-out;
            transition-duration: 0.4s;
            opacity: 1;
        }
    
        .blog1 {
            background-image: url(../../images/blog1.JPG);
        }
        .blog2 {
            background-image: url(../../images/blog2.JPG);
        }
        .blog3 {
            background-image: url(../../images/blog3.JPG);
        }
        .blog4 {
            background-image: url(../../images/blog4.JPG);
        }
        .blog5 {
            background-image: url(../../images/blog5.JPG);
        }
        .blog6 {
            background-image: url(../../images/blog6.JPG);
        }
        
        h5 {
            text-align: start;
            color: white;
            font-size: 20px;
            font-weight: 300;
            text-shadow: 0 0 8px black;
            text-decoration: underline;
            text-underline-offset: 4px;
        }

        h6 {
            text-align: start;
            color: white;
            text-shadow: 0 0 8px black;
        }

        .blog:hover {
            transform: translateY(-10px);
            transition-duration: 0.4s;
            box-shadow: 4px 4px 16px grey;
            opacity: .8;
        }
    }

    @media only screen and (max-width: $small){

        .heading {
            font-size: 2rem;
        }
    }

    // This media query is for small devices to have a different heading font size.
    @media only screen and (min-width: $small){
        
        .heading {
            font-size: 3rem;
        }
        
    }

    // This media query for large devices to have text align center to the left and the icons on the right.
    @media only screen and (min-width: $large){

        .body-text {
            font-size: 1em;
        }
    }
}






