@import "../../style";

main {
    font-family: 'Poppins', sans-serif;
    margin-left: 8vh;
    margin-right: 8vh;
    margin-top: 36px;

    // Heading element styling to have typing animation the the end of text.
    .heading {
        font-size: 58px;
        font-weight: bold;
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        
        .heading-animation {
            border-right: 4px solid;
            animation: typing 2s, cursor .4s step-end infinite alternate;
        }

        @keyframes cursor {
            50% {border-color: transparent}
        }
    }

    // Styling for heading, subheading, caption and body texts.
    .body-text {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 18px;
    
        h2 {
            font-size: 1.5em;
            font-weight: 500;
            margin-top: 0;
            margin-bottom: 0;
        }
        
        h3 {
            font-style: italic;
            font-size: .8em;
            font-weight: 300;
            margin-top: 0;
        }
        
        h4 {
            font-weight: 300;
            margin-top: 0;
        }
    }

    i {
        font-size: 70px;
    }

    // This media query is for extra small devices to have everyting centered. Also to change the heading and icon font sizes for legibility.
    @media only screen and (max-width: $small){
        display: inline;
        text-align: center;
        margin-bottom: 36px;

        .heading {
            font-size: 2rem;
        }

        i {
            font-size: 2.5rem;
        }
    }
    
    // This media query is for small devices to have a similar styling to the extra small devices but with different heading font size.
    @media only screen and (min-width: $small){
        display: inline;
        text-align: center;
        margin-bottom: 36px;
        
        .heading {
            font-size: 3rem;
        }
    }

    // This media query for large devices to have text align center to the left and the icons on the right.
    @media only screen and (min-width: $large){
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        margin-left: 16vh;
        margin-right: 16vh;

        i {
            font-size: 3rem;
        }

        .body-text {
            font-size: 1em;
        }

        #container-main-section {
            width: 50%;
        }
    }
}
