@import "../../style";

main {
    font-family: 'Poppins', sans-serif;
    margin-left: 8vh;
    margin-right: 8vh;
    column-gap: 100px;
    margin-bottom: 36px;
    
    .heading {
        font-size: 58px;
        font-weight: 500;
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        
        // Typing animation
        .heading-animation {
            border-right: 4px solid;
            animation: typing 2s, cursor .4s step-end infinite alternate;
        }

        @keyframes cursor {
            50% {border-color: transparent}
        }
        // End of typing animation
    }

    .body-text {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 18px;
    
        h2 {
            font-size: 1.5em;
            font-weight: 500;
            margin-top: 0;
            margin-bottom: 0;
        }
        
        h3 {
            font-size: .8em;
            font-weight: 300;
            font-style: italic;
            margin-top: 0;
        }
        
        h4 {
            font-weight: 300;
            margin-top: 0;
        }
    }

    // Hero image styling
    .hero-image {
        border-radius: 32px;
        box-shadow: 8px 8px 12px 0 yellow;
    }

    // media query for extra small devices to have everyting centered.
    @media only screen and (max-width: $small){
        text-align: center;

        .hero-image {
            height: 20%;
            width: 20%;
        }
    }

    // media query for small devices 
    @media only screen and (min-width: $small){
        text-align: center;

        .hero-image {
            height: 40%;
            width: 40%;
        }
    }
    // Media query for large devices to have text align left and hero image on the right.
    @media only screen and (min-width: $large){
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-left: 16vh;
        margin-right: 16vh;
        text-align: left;

        .hero-image {
            height: 80%;
            width: 80%;
        }
    }
}


