@import "../../style";

main {
    font-family: 'Poppins', sans-serif;
    margin-left: 4vh;
    margin-right: 4vh;
    column-gap: 100px;

    @media screen and (max-width: $medium){
        text-align: center;
    }
    
    // Typing animation
    .heading {
        font-size: 4rem;
        font-weight: 500;
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        
        .heading-animation {
            border-right: 4px solid;
            animation: typing 2s steps(6), cursor .4s step-end infinite alternate;
        }

        @keyframes cursor {
            50% {border-color: transparent}
        }
    }

    .hero-image {
        margin-left: auto;
        margin-right: auto;
        height: 28%;
        width: 28%;
        border-radius: 32px;
        box-shadow: 8px 8px 12px 0 yellow;
    }

}

.hero-text {
    margin-top: 16px;
    margin-bottom: 16px;
}

.body-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    h2 {
        font-size: 1.5rem;
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 500;
    }
    
    h3 {
        font-weight: 300;
        font-size: .8em;
        font-style: italic;
        margin-top: 0;
    }
    
    h4 {
        font-weight: 300;
        margin-top: 0;
    }
}


@media screen and (min-width: $medium){
    main {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-left: 100px;
        padding-right: 100px;
    }
}

.home-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

